.wrapper {
  padding: 5% 20%;
  position: relative;
  background: linear-gradient(#642b8e, black);
  min-height: 100vh;
}

.logo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
  width: 100%;
  color: aliceblue;
}

.logo a {
  position: absolute;
  left: 100px;
  top: 20px;
  font-size: 30px;
}

.content {
  margin-top: 80px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 25px;
}