.mainInfo {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 5px;
  gap: 10px;
}

.backBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #642b8e;
  border-radius: 100%;
  position: fixed;
  z-index: 20;
  top: 13px;
  left: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all linear .1s;
  outline: none;
  background-color: transparent;
}

.backBtn svg {
  font-size: 30px;
}

.backBtn:hover {
  background-color: rgba(65, 65, 65, 0.59);
}

.movieDetailsPosterWrap {
  height: 600px;
}

.movieDetailsPoster {
  padding: 15px;
  width: 100%;
  height: 615px;
  object-fit: cover;
}

.movieDetailsInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 15px;
  font-family: consolas;
}

.moviePreDetails {
  border-bottom: 1px solid rgb(202, 202, 202);
}

.movieDetailsTitle {
  font-weight: normal;
}

.subInfo {
  display: flex;
  padding: 15px 0;
  color: rgb(202, 202, 202);
}

.subInfo div {
  padding: 0 20px;
  border-right: rgb(147, 147, 147) solid 3px;
}

.subInfo div:first-child {
  padding-left: 0;
}

.subInfo div:last-child {
  border-right: 0;
}

.moviePlot {
  font-family: cursive;
  margin-bottom: 15px;
  font-size: 1.3em;
  line-height: 2;
}

.movieMoreDetails {
  font-size: 1.2em;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .mainInfo {
    width: auto;
  }
}

@media screen and (max-width: 1020px) {
  .mainInfo {
    padding: 5px 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .movieDetailsInfo {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .mainInfo {
    align-items: center;
  }
  .moviePlot {
    font-size: 1.0em;
    line-height: 1.5;
  }
  .movieDetailsInfo {
    padding: 5px;
  }
  .movieMoreDetails {
    font-size: 1em;
    gap: 5px;
  }
  .movieDetailsPosterWrap {
    height: auto;
  }
  .movieDetailsPoster {
    height: 500px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .subInfo div {
    padding: 0 10px;
  }
  .header img {
    width: 65px;
  }
}