.mainInfo {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 10px;
}

.backBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all linear .1s;
}

.backBtn svg {
  font-size: 30px;
}

.backBtn:hover {
  background-color: rgba(65, 65, 65, 0.59);
}

.movieDetailsPosterWrap {
  height: 600px;
}

.movieDetailsPoster {
  padding: 15px;
  min-width: 100%;
  height: 615px;
  object-fit: cover;
}

.movieDetailsInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 15px;
  font-family: consolas;
}

.moviePreDetails {
  border-bottom: 1px solid rgb(202, 202, 202);
}

.movieDetailsTitle {
  font-weight: normal;
}

.subInfo {
  display: flex;
  padding: 15px 0;
  color: rgb(202, 202, 202);
}

.subInfo div {
  padding: 0 20px;
  border-right: rgb(147, 147, 147) solid 3px;
}

.subInfo div:first-child {
  padding-left: 0;
}

.subInfo div:last-child {
  border-right: 0;
}

.moviePlot {
  font-family: cursive;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.movieMoreDetails {
  font-size: 1.2em;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}