.mainInfo {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 5px;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .mainInfo {
    width: auto;
  }
}

@media screen and (max-width: 1020px) {
  .mainInfo {
    padding: 5px 15px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 550px) {
  .mainInfo {
    align-items: center;
  }
}