.movieWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 30%;
  height: 400px;
  background-color:cadetblue;
  overflow: hidden;

  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;

  position: relative;
}

.moviePosterWrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.movieOverlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.233);
}

.moviePosterWrapper:hover {
  cursor: pointer;
}

.moviePosterWrapper:hover .moviePoster {
  width: 150%;
  height: 450px;
}

.moviePosterWrapper:hover .movieOverlay {
  display: block;
}

.moviePoster {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  transition: all .3s linear;
}

.movieDesctiption {
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.75);
}

.movieTitle {
  display: block;
  font-size: 18px;
  overflow-wrap: break-word;
  padding: 3px;
  position: absolute;
  left: 5px;
}

.movieYear {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-style: italic;
}