.container {
	padding: 0 30px;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	max-height: 70vh;
	height: 100%;
	overflow: hidden;

	margin: 0 auto;

	/* padding for outsiding pagination bullets */
	padding-bottom: 40px;
}

@media screen and (max-width: 550px) {
	.container {
		padding: 0;
	}
}
@media screen and (max-width: 500px) {
	.swiper-pagination {
		display: none;
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		opacity: 0;
	}
}
