.movieList {
  height: 70vh;
  margin: 15px;
}

@media screen and (max-width: 500px) {
  .swiper-pagination{
    display: none;
  }
  .movieList {
    margin: 10px 0 0;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    opacity: 0;
  }
}