.searchFormWrap {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.searchInput {
  min-width: 25%;
  height: 50px;
  padding: 15px;
  padding-right: 40px;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.775);
  border: rgb(255, 182, 45) solid 1px;
  border-radius: 5px;
  font-size: 16px;
  background-size: 20px;
  position: relative;
}

.searchBtn {
  position: absolute;
  transform: translate(-48px, 2px);
  width: 45px;
  background-color: transparent;
  height: 45px;
  outline: none;
  cursor: pointer;
  border: none;
  z-index: 1;
}

.searchIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 40px;
  color: white;
  border-radius: 100%;
  transition: all .1s linear;
}

.searchIconWrap:hover {
  color: white;
  background-color: rgba(65, 65, 65, 0.59);
}

@media screen and (max-width: 550px){
  .searchForm {
    padding: 1em 0;
  }
  .searchInput {
    width: 100%;
  }
}