.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 4em;
  color: aliceblue;
  background-color: black;
  padding: 10px 30px;
  padding-right: 0;
  color: #f2ddff;
}

.headerIcon {
  width: 4em;
  cursor: pointer;
}

.navList {
  display: flex;
  padding: 0 5px;
  list-style: none;
  transition: all .1s ease;
}

.navItem {
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: all .2s ease-in;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.navItem:hover {
  color: black;
  background-color: yellow;
}

.navItem {
  text-decoration: none;
  color: #f2ddff;
  transition: .2s ease;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  transition: .2s ease;
  padding: 3px 10px;
  border-radius: 10px;
}

.burger:hover {
  box-shadow: 0px 0px 5px 5px yellow;
}

@media screen and (max-width: 550px) {
  .burger {
    display: flex;
  }
  .navList {
    display: none;
    align-items: flex-end;
    flex-direction: column;
  }
}

.showNav {
  display: flex;
  transition: all ease .1s;
}