.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 4em;
	color: aliceblue;
	background-color: black;
	padding: 10px 20px;
	padding-right: 0;
	color: #f2ddff;
}

.navList {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	list-style: none;
	transition: all 0.4s ease-out;
}

.headerIcon {
	height: 100%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.headerIcon img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.loginWrap {
	width: fit-content;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 4s steps(1000, end);
}

.login {
	display: none;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: 600;
	color: #f2ddff;
}

.navItem {
	border-radius: 5px;
	padding: 8px 15px;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.2s ease-out;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
}

.navItem:hover {
	color: black;
	background-color: yellow;
}

.navItem {
	text-decoration: none;
	color: #f2ddff;
	transition: 0.2s ease;
}

.burger {
	display: none;
	cursor: pointer;
	transition: 0.2s ease;
	margin-right: 15px;

	background-color: transparent;
	border: none;
}

@media screen and (max-width: 650px) {
	.burger {
		display: flex;
	}

	.login {
		display: block;
	}

	body {
		position: relative;
	}

	.navList {
		transform: translateY(calc(-100% - 4em));
		position: absolute;
		right: 0;
		left: 0;
		top: 4em;
		padding: 5px 0;
		background-color: rgba(0, 0, 0, 0.637);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 200px;
	}

	.navItem {
		margin: 5px;
	}
}

.showNav {
	transform: translateY(0%);
	transition: all ease-in 0.4s;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 60%;
	}
}
