.quizWrap {
  animation: gradient 2s infinite alternate linear;
  background: hsl(224, 38%, 41%);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quizContent {
  min-height: 500px;
  max-height: 800px;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizStatus {
  font-size: 2em;
  padding: 15px;
  text-align: center;
}

.quizOver {
  font-size: 4em;
  text-align: center;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.quizQuestion {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2em 0;
  border: 3px solid rgba(185, 255, 73, 0.486);
  border-radius: 50px;
  padding: 2em;
  max-width: 800px;
  min-height: 300px;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .9s linear;
}

.quizOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transform: rotate(360deg) scale(1);
  gap: 30px;
}

.animation {
  transform: scale(0);
  transition: .5s linear;
}

.quizBtn {
  font-family: consolas;
  padding: 1.1em;
  font-size: 1.1em;
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255, 0.719);
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  transition: all .2s linear;
}

.quizBtn:hover {
  color: rgb(51, 61, 40);
  background-color: rgba(255, 255, 255, 0.205);
}

@keyframes gradient {
  100% {
    background: hsl(338, 38%, 41%);
  }
}

@keyframes example {
  0% {
    color: lime;
    text-shadow: 0 0 20px green
  }

  25% {
    color: green;
    text-shadow: 2px 2px 2px lime;
    transform: translate(-2px, 1px)
  }

  40% {
    color: lime;
    text-shadow: none;
    transform: translate(0, 0)
  }

  50% {
    color: green;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    transform: translate(0px, 5px)
  }

  70% {
    color: lime;
    text-shadow: none;
    transform: translate(0, 0)
  }

  80% {
    color: lime;
    text-shadow: 0 0 20px green;
    transform: translate(-2px, 1px)
  }

  100% {
    color: lime;
    text-shadow: none;
  }
}

@media screen and (max-width: 650px) {
  .quizQuestion {
    padding: 1em;
    font-size: 1.5em;
    min-height: 200px;
  }
  .quizOptions {
    gap: 20px;
  }
  .quizBtn {
    padding: .7em;
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .quizQuestion {
    padding: ;
    font-size: 1.2em;
    min-height: 200px;
  }
}