.swiperWrap {
  padding: 0 5%;
}

.mySwiper {
  height: 70vh;
  margin: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -10px;
}

@media screen and (max-width: 550px) {
  .movieWrapper {
    height: 100%;
  }
  .swiperWrap {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .swiper-pagination{
    display: none;
  }
  .mySwiper {
    margin: 10px 0 0;
  }
  .movieWrapper {
    height: 100%;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    opacity: 0;
  }
  .swiperWrap {
    padding: 0;
  }
}