.movieListWrap {
  padding: 0 5%;
}

@media screen and (max-width: 550px) {
  .movieListWrap {
    height: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .movieListWrap {
    padding: 0;
  }
}