.movieWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  position: relative;
}

.linkWrap {
  width: 100%;
  height: 100%;
}

.posterWrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.posterWrapper:hover {
  cursor: pointer;
}

.posterWrapper:hover .moviePoster {
  transform: scale(1.1);
}

.posterWrapper:hover .movieOverlay {
  display: block;
}

.movieOverlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.07);
}


.moviePoster {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: all .4s linear;
}

.movieTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 15px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg,#000,transparent);
}

.moviesIconsWrap {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieLikeWrap {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s linear;
  margin-right: 5px;
  cursor: pointer;
}

.movieLikeWrap:hover{
  background-color: rgba(65, 65, 65, 0.59);
  border-radius: 100%;
}

.movieCalendar {
  height: 100%;
  margin-left: 10px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieYear {
  font-style: italic;
  font-size: 1em;
}