* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  background: linear-gradient(#642b8e, black); 
  min-height: 100vh;
  color: white;
}

.header {
  display: block;
  height: 75px;
  width: 100%;
  color: aliceblue;
  background-color: black;
  padding: 0 15px;
}

.header img {
  width: 90px;
  margin: 15px 0 0 85px;
  cursor: pointer;
}

.contentWrapper {
  width: 100%;
  margin: 0 auto;
}

.content {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  gap: 15px;
}
