* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-width: 100%;
  min-height: 100vh;
  padding-top: 75px;
  position: relative;
  background: linear-gradient(#642b8e, black);
  color: white;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 4em;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: black;
  padding: 10px 30px;
  color: #f2ddff;
}

.header img {
  width: 90px;
  cursor: pointer;
}

.contentWrapper {
  width: 100%;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.error {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 0 50px;
  }
}

@media screen and (max-width: 770px){
  .content {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5%;
  }
}

@media screen and (max-width: 530px){
  .searchForm {
    padding: 1em 0;
  }
  .searchInput {
    width: 100%;
  }
  .contentWrapper {
    padding: 0 30px;
  }
  .content {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
