.contentWrapper {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
}

.error {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 550px){
  .contentWrapper {
    padding: 0 30px;
  }
}
